{% extends "worker/index.html" %}
{% block body %}
<form method="post" action="/wrk_add_service_post">
    <table align="center" style="width: 500px" class="table table-striped">
        <tr>
            <td>Service Name</td>
            <td><input type="text" name="sname" required class="form-control"/></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="amount" required class="form-control"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" class="btn btn-success" value="ADD"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}